@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


:root {
    --primary-color: #3b67d9;
    --secondary-color: #ccebff;
    --blue-color: #2bc5cd;
    --orange-color: #f1641e;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: none;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: center;
    margin: auto;
}

header{
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .shop_name{
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    padding-left: 20px;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;

}

.menu_list {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    font-size: 25px;
    padding-left: 10px;
}

.filter_items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    font-size: 25px;
    padding-top: 13px;
    
}

.filter_items > li {
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 10px;
    background-color: #2bc5cd;
}

.filters{
    background-color: whitesmoke;
    height: 70px;
}

.filter_items > li:hover {
    background-color: #48a0a4;
    color: white;
    border: 1px solid var(--blue-color);
}

.menu_list > li :hover{
    background-color: #4c5ce86e;
    color: white;
}

footer {
    background-color: var(--primary-color);
    padding: 10px 0;
    height: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

footer > ul:first-child {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    font-size: 25px;
}

footer > ul:first-child > li {
    padding-left: 20px;
}

footer > ul:first-child > li > img {
    height: 25px;
    width: 25px;
}

footer > ul:last-child {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    font-size: 15px;
    justify-content: space-around;
}

footer > ul:last-child > li {
    padding-left: 20px;
    padding-bottom: 3px;
}

footer > p {
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 3px;
}


a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}


img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

 .grid_container > article {
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.grid_container > article > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.grid_container > article > div > a {
    padding: 10px 20px;
    border: 1px solid black;    
    border-radius: 10px;
    font-size: 15px;
}

.grid_container > article > div > a:hover {
    background-color: var(--orange-color);
    color: white;
    border: 1px solid var(--blue-color);
}

.grid_container > article > div > a::before {
    content: "🔍";
}

.grid_container > article > div > p {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.grid_container > article > div > h2 {
    font-weight: bold;
    text-align: center;
}




@media (max-width: 724px) and (min-width: 300px){

    header > nav {
        display: none;
    }

    .menu {
        display: block;
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    .grid_container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        padding: 20px;
        align-items: center;
        margin: auto;
        gap:20px;
    }

    header .shop_name{
        font-size: 2rem;
        font-weight: 700;
        color: black;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        padding-left: 20px;
    }
}

@media (min-width: 725px) and (max-width: 998px) {
    .grid_container {
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        
    }
}

@media (min-width: 999px) and (max-width: 1293px) {
    .grid_container {
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        
    }
}

@media (min-width: 1294px) {
    .grid_container {
        
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
    }
}



